images:
  airflow:
    repository: ghcr.io/nutthapongkanna/airflow
    tag: latest

apiServer:
  service:
    type: LoadBalancer

redis:
  enabled: true


postgresql:
  enabled: true
  image:
    tag: latest