images:
  airflow:
    repository: ghcr.io/nutthapongkanna/airflow
    tag: latest

api:
  enabled: false

redis:
  enabled: true

webserver:
  service:
    type: LoadBalancer

postgresql:
  enabled: true
  image:
    tag: latest